# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


compile_commands.json
*~

/src/ddakong
KEYLOG.txt

autoscan.log

/build
autom4te.cache/

config.h
config.log
config.status
Makefile
.deps/
.libs/
stamp-h1
Makefile
stamp-h1
libtool

term-ddakong-*.tar.gz
ddakong-*.tar.gz

ddakong-x86_64-linux
ddakong-x86-linux
ddakong-armhf-linux
ddakong-aarch64-linux

ddakong-arm-linux-gnueabihf
ddakong-aarch64-linux-gnu
ddakong-i686-linux-gnu
ddakong-x86_64-linux-gnu

TAGS

lua-*/src/lua
lua-*/src/luac
*.rej
