# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


/compile_commands.json
*~

autoscan.log

/build
/KEYLOG.txt
/autom4te.cache/
/src/ddakong
/config.h
/config.log
/config.status
/Makefile
/src/.deps/
/stamp-h1
/src/Makefile
/term-ddakong-*.tar.gz
/ddakong-*.tar.gz

ddakong-x86_64-linux
ddakong-x86-linux
ddakong-armhf-linux
ddakong-aarch64-linux

ddakong-arm-linux-gnueabihf
/ddakong-aarch64-linux-gnu
/ddakong-i686-linux-gnu
/ddakong-x86_64-linux-gnu

TAGS
/examples/random-phrase-dll/Makefile
/examples/random-phrase-dll/stamp-h1
/examples/random-phrase-dll/src/Makefile
/examples/random-phrase-dll/src/.libs/
/examples/random-phrase-dll/src/.deps/
/examples/random-phrase-dll/config.log
/examples/random-phrase-dll/config.status
/examples/random-phrase-dll/config.h

